ico/
node_modules
.vscode/

# Hugo output directory
/public

yarn.lock

.DS_Store

.idea

# Temp files
*.swp
*.swo
*.orig


# Hugo build lock
.hugo_build.lock

# Generated CSS sourcemap (grunt)
themes/skycoin/static/css/main.css.map
