<ul class="post__links">
  <li>
    <p>
      <strong>Skycoin Store: </strong>
      <a href="https://store.skycoin.com/">https://store.skycoin.com/</a>
    </p>
  </li>

  <li>
    <p>
      <strong>Website: </strong>
      <a href="https://www.skycoin.com/">https://www.skycoin.com/</a>
    </p>
  </li>

  <li>
    <p>
      <strong>Telegram: </strong>
      <a href="https://t.me/Skycoin">https://t.me/Skycoin</a>
    </p>
  </li>

  <li>
    <p>
      <strong>Twitter: </strong>
      <a href="https://twitter.com/Skycoinproject">https://twitter.com/Skycoinproject</a>
    </p>
  </li>

  <li>
    <p>
      <strong>Reddit: </strong>
      <a href="https://reddit.com/r/Skycoin">https://reddit.com/r/Skycoin</a>
    </p>
  </li>

  <li>
    <p>
      <strong>YouTube: </strong>
      <a href="https://www.youtube.com/c/skycoin">https://www.youtube.com/c/skycoin</a>
    </p>
  </li>

  <li>
    <p>
      <strong>Facebook: </strong>
      <a href="https://www.facebook.com/groups/skycoinofficial">https://www.facebook.com/groups/skycoinofficial</a>
    </p>
  </li>

  <li>
    <p>
      <strong>LinkedIn: </strong>
      <a href="https://www.linkedin.com/company/skycoin">https://www.linkedin.com/company/skycoin</a>
    </p>
  </li>
</ul>
